* {
  margin:0;
  padding: 0;
}

body{
  padding: 0 40px;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(91, 140, 184);
  font-size: 35px;
}


.container{
  padding: 0 10px;
}

.title{
  text-align: center;
  margin: 25px;
  color: bisque
}

.toggle{
  display:flex;
  gap: 10px;
  align-items: center;
}

#toggleBtn {
background: grey;
width:60px;
height:30px;
border-radius: 25px;
padding: 5px;
}

.inner-circle {
 width: 30px;
 height: 30px;
 background: whitesmoke;
 border-radius: 50%;
}
/* // horizontally moves by 30px */
.toggle-btn.toggled > .inner-circle {
  transform: translateX(30px);
  background-color: black;
}

.unselected {
  opacity: 0.25;
}

label {
  display:block;
  font-size: 20px;
  margin-bottom: 5px;
}
input{
  margin-bottom: 25px;
}

input[type="text"]{
  padding: 5px 10px;
  border-radius: 3px;
  border: none;
}

.box{
  height: 100px;
  width: 100%;
  background-color: #c6d5ac;
  margin-bottom: 20px;
}
